





body 
{background-image: url("img/fundo-mercado.jpg");}

nav {
    background-color: rgba(189, 31, 26, 0.658);
    list-style-type:circle;
    text-align: center; 
    padding: 0;
    margin: 0;
    
  }
  button{
   transition:1s;

  }

  button:hover {
    border-radius: 100%;

  }
  
nav li {
    display:block;
    font-size: 20px;
    padding: 10px;
    border-bottom: green;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: sticky;
} 

main {
  background-color: navajowhite;
padding: 14px;
}

#a {
  float: right;
}
.b {
float:left;
}

input {
  border-radius: 100px;
  border-color: orange;
  padding: 3px;
  margin: 10;
}
.produto{background-color:white;
   margin:5px;
    display: inline;
  float:left;
  width: 20%;

  }


.flex-container{

  background-color: gray;
  padding: 10px;
  display:flexbox;
}